<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.naruto.udacity_inventory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_warehouse"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomLightBlue">
        <activity android:name="com.naruto.udacity_inventory.CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.naruto.udacity_inventory.EditorActivity"
                  android:parentActivityName="com.naruto.udacity_inventory.CatalogActivity"/>
        <provider
            android:name=".data.GoodsProvider"
            android:authorities="com.naruto.udacity_inventory"
            android:exported="false"/>
    </application>

</manifest>